@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-11 21:32:21
 * @version $Id$
 */
.ui-box {
	width: 800px;
	height: 600px;
	background-color: #cdd3f5;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.ui-box1 {
	width: 760px;
	height: 120px;
	background-color:#99bd90;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin: 20px 20px 10px 20px;
	display: flex;
	justify-content: space-between;
}
.ui-box1-1 {
	height: 120px;
	width: 500px;
	display: flex;
	justify-content: flex-start;
}
.ui-box1-1-1 {
	width: 80px;
	height: 80px;
	background-color: #cdd3f5;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin: 20px;
	margin-right: 40px;
}
.ui-box1-1-2 {
	width: 80px;
	height: 80px;
	background-color: #cdd3f5;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin-left: 0px;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ui-box1-2 {
	height: 120px;
	width: 240px;
	display: flex;
	justify-content: flex-end;
}
.ui-box1-2-1 {
	width: 80px;
	height: 80px;
	background-color: #cdd3f5;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ui-box2 {
	width: 760px;
	height: 420px;
	background-color: #99bd90;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
.ui-box2-1 {
	height: 380px;
	padding:20px;
}
.ui-box2-1-1 {
	width: 205px;
	height: 300px;
	background-color: #cdd3f5;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
.ui-box2-1-2 {
	width: 50px;
	height: 50px;
	background-color: #cdd3f5;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 25px;
	display: inline-block;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
.ui-box2-1-3 {
	width: 50px;
	height: 50px;
	background-color: #cdd3f5;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
.ui-box2-2 {
	height: 380px;
	padding:20px;
}
.ui-box2-2-1 {
	width: 480px;
	height: 40px;
	background-color: #cdd3f5;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}


.flexbox {
	width: 650px;
	height: 390px;
	top: 650px;
	position: absolute;
	background-color: #ffffeb;
}
.ui-item1 {
	width: 390px;
	height: 260px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}
.ui-item2 {
	width: 390px;
	height: 110px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	display: flex;
	flex-direction: column;
}
.ui-item2-1 {
	width: 370px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	font-weight: bold;
	color: black;
}
.ui-item2-2 {
	width: 370px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	background-color: white;
	margin: 5px 10px 5px 10px;
	font-size: smaller;
	font-weight: bold;
	color: #f71548;
}
.ui-item2-3 {
	width: 370px;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-item2-3-11 {
	width: 10px;
	margin-top: 7px;
	margin-left: 2px;
	font-size: x-small;
	font-weight: bolder;
	color: #f71548;
}
.ui-item2-3-1 {
	width: 70px;
	margin-top: 3px;
	font-size: medium;
	font-weight: bolder;
	color: #f71548;
}
.ui-item2-3-2 {
	width: 220px;
	margin-top: 9px;
	font-size: xx-small;
	color: gray;
}
.ui-item2-3-3 {
	height: 30px;
	margin-top: 9px;
	font-size: xx-small;
	color: gray;
}


.flex {
	width: 1215px;
	height: 770px;
	top: 1050px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	justify-content: space-around;
	align-content: space-around;
}
.ui-flex1 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;

}
.ui-flex1-1 {
	width: 390px;
	height: 260px;
}
.ui-flex1-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex1-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 0px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex1-2-2 {
	width: 370px;
	height: 15px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex1-2-2-1 {
	color: #f71548;
}
.ui-flex1-2-2-2 {
	color: lightgray;
}
.ui-flex1-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex1-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex1-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex1-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex1-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex1-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}
.ui-flex2 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}
.ui-flex2-1 {
	width: 390px;
	height: 260px;
}
.ui-flex2-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex2-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex2-2-2 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex2-2-2-1 {
	color: #f71548;
}
.ui-flex2-2-2-2 {
	color: lightgray;
}
.ui-flex2-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex2-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex2-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex2-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex2-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex2-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}
.ui-flex3 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}
.ui-flex3-1 {
	width: 390px;
	height: 260px;
}
.ui-flex3-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex3-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex3-2-2 {
	width: 370px;
	height: 15px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex3-2-2-1 {
	color: #f71548;
}
.ui-flex3-2-2-2 {
	color: lightgray;
}
.ui-flex3-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex3-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex3-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex3-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex3-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex3-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}
.ui-flex4 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}
.ui-flex4-1 {
	width: 390px;
	height: 260px;
}
.ui-flex4-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex4-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 0px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex4-2-2 {
	width: 370px;
	height: 15px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex4-2-2-1 {
	color: #f71548;
}
.ui-flex4-2-2-2 {
	color: lightgray;
}
.ui-flex4-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex4-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex4-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex4-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex4-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex4-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}
.ui-flex5 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;

}
.ui-flex5-1 {
	width: 390px;
	height: 260px;
}
.ui-flex5-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex5-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 0px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex5-2-2 {
	width: 370px;
	height: 15px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex5-2-2-1 {
	color: #f71548;
}
.ui-flex5-2-2-2 {
	color: lightgray;
}
.ui-flex5-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex5-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex5-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex5-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex5-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex5-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}
.ui-flex6 {
	width: 390px;
	height: 370px;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	margin: 0px 0px 10px 10px;
}
.ui-flex6-1 {
	width: 390px;
	height: 260px;
}
.ui-flex6-2 {
	width: 390px;
	height: 110px;
	border-top: solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.ui-flex6-2-1 {
	width: 370px;
	height: 20px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	color: black;
}
.ui-flex6-2-2 {
	width: 370px;
	height: 15px;
	background-color: white;
	margin: 10px 10px 5px 10px;
	font-size: smaller;
	display: flex;
	flex-wrap: wrap;
}
.ui-flex6-2-2-1 {
	color: #f71548;
}
.ui-flex6-2-2-2 {
	color: lightgray;
}
.ui-flex6-2-3 {
	width: 370px;
	height: 30px;
	background-color: white;
	margin: 5px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.ui-flex6-2-3-11 {
	width: 10px;
	margin-top: 12px;
	margin-left: 2px;
	font-size: x-small;
	color: #f71548;
}
.ui-flex6-2-3-1 {
	width: 70px;
	margin-top: 1px;
	font-size: xx-large;
	color: #f71548;
}
.ui-flex6-2-3-2 {
	width: 220px;
	margin-top: 15px;
	font-size: x-small;
	color: gray;
}
.ui-flex6-2-3-31 {
	margin-top: 15px;
	font-size: xx-small;
	color: #f71548;
}
.ui-flex6-2-3-3 {
	margin-top: 15px;
	font-size: xx-small;
	color: gray;
}