@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-30 14:11:35
 * @version $Id$
 */
.box {
 	box-sizing: border-box;
 	position: absolute;
 	top: 5%;
 	left: 33%;
 	width: 34%;
 	height: 100%;
 }
 .box1 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 5%;
 	font-size: 14px;
 }
 .box2 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 15%;
 	border-right: 1px dotted gray;
 	border-left: 1px dotted gray;
 }
 .box3 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 20%;
 	border: 1px dotted gray;
 }
 .box4 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 10%;
 	border-right: 1px dotted gray;
 	border-left: 1px dotted gray;
 }
 .box5 {
 	box-sizing: border-box;
 	position: relative;
 	left: 0;
 	width: 100%;
 	height: 35%;
 	border-top: 1px dotted gray;
 }
 
 .box1-1 {
 	box-sizing: border-box;
 	float: left;
 	width: 20%;
 	height: 100%;
 	border-right: 1px dotted gray;
 	border-top: 1px dotted gray;
 	border-bottom: 1px dotted gray;
 	background-color: lightgray;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }

 .box1-2 {
 	box-sizing: border-box;
 	float: left;
 	width: 20%;
 	height: 100%;
 	border-left: 1px dotted gray;
 	border-top: 1px dotted gray;
 	border-right: 1px dotted gray;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }
 .box2-1 {
 	box-sizing: border-box;
 	float: left;
 	width: 93%;
 	height: 25%;
 	margin: 3%;
 	border: 1px solid gray;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
 }

.box3-1 {
	box-sizing: border-box;
 	float: left;
 	width: 20%;
 	height: 50%;
 	border: 1px solid gray;
 	margin-left: 4%;
 	margin-top: 2%;
}
.image {
width: 100%;
height: 100%;
}
.box3-2 {
	box-sizing: border-box;
 	float: left;
 	width: 70%;
 	height: 20%;
 	margin-left: 5%;
 	margin-top: 2%;
}
.clear {
	clear: both;
}
.box3-3 {
	box-sizing: border-box;
 	float: left;
 	width: 25%;
 	height: 25%;
 	border: 1px dotted gray;
 	margin-top: 3%;
 	margin-left: 6%;
 	background-color: #FF2400;
 	font-size: 14px;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
}
.box4-1 {
	box-sizing: border-box;
 	float: left;
 	width: 96%;
 	height: 40%;
 	margin-left: 2%;
 	margin-top: 4%;
 	border: 1px solid gray;
 	display: -webkit-box;
 	-webkit-box-pack: center;
 	-webkit-box-align: center;
}
.box5-1 {
	box-sizing: border-box;
 	float: left;
 	width: 39.99%;
 	height: 66.5%;
 	border-bottom: 1px dotted gray;
 	border-left: 1px dotted gray;
}
.box5-2 {
	box-sizing: border-box;
 	float: left;
 	width: 19.99%;
 	height: 33.3%;
 	border-left: 1px dotted gray;
 	border-bottom: 1px dotted gray;
}
.box5-3 {
	box-sizing: border-box;
 	float: right;
 	width: 20%;
 	height: 33.3%;
 	border-left: 1px dotted gray;
 	border-bottom: 1px dotted gray;
 	border-right: 1px dotted gray;
 }
.img1 {
height: 60%;
width: 50%;
position: relative;
top: 15%;
left: 25%;
}
.img2 {
height: 60%;
width: 50%;
position: relative;
top: 10%;
left: 30%;
}
span1 {
position: relative;
top: 5%;
left: 32%;
font-family: "Times New Roman",Times,serif;
}