#t1{
	width:800px;
	height:100px;
	background:lightgray;
}
#t2{
	width:800px;
	height:100px;
	background:#666;
}
#t3{
	width:800px;
	height:600px;
	background:lightgray;
}
#box {
	width:70px;
	margin:10px;
	padding:5px;
	background-color:lightgray;
}
h1 {
	margin:10px 0px 15px 5px;
}
h2 {
	margin-top:20px;
	margin-right:30px;
	margin-bottom:30px;
	margin-left:20px;
}
