@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-24 08:58:55
 * @version $Id$
 */
.box{
	width:60px;
	height:40px;
	background:lightgray;
}
span.before{
	display:block;
	width:20px;
	height:20px;
	background:#666;
	content:"$";
	margin-right:5px;
	font-size:24px;
	font-weight:600px;
	color:#ff6600;
}